html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.card {
    cursor: pointer;
}

.card:hover {
    opacity: .85;
}

.list-group-container {
    overflow-y: auto; /* Enable vertical scrolling */
    border: 1px solid #ccc; /* Optional border for aesthetics */
    border-radius: .5rem;
    height: 30vh; /* Adjust the height as needed */
}

.tooltip {
  font-size: 10rem; /* Adjust the font size as needed */
}

.checkbox-size {
    width: 2rem;
    height: 2.3rem;
}

.search-row {
    background-color: lightgrey;
    border-radius: .2rem;
}


thead th {position: sticky; top: 0;}

.remove-padding {
    padding: 0;
}
