@model FormInputModel.Squad

<div class="text-center">


    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModalCenter">
        Create Group
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" aria-labelledby="exampleModalLongTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Create Squad</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="post" id="createSquad">
                        <div class="mb-3">
                            <label for="squadName" class="form-label">Group Name</label>
                            <input asp-for="squadName" name="squadName" type="text" class="form-control" id="squadName"
                                placeholder="Enter Group Name" required>
                        </div>
                        <div class="mb-3">
                            <label for="unparsedMembers" class="form-label">List of Names (comma-separated)</label>
                            <textarea asp-for="unparsedMembers" name="unparsedMembers" class="form-control"
                                id="unparsedMembers" rows="3" placeholder="Enter Names" required></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success" role="alert">
            <h4 class="alert-heading">Success</h4>
            <p>@TempData["SuccessMessage"]</p>
            <hr>
            <p>
                Congratulations! Your squad has been created. You can view it <a
                    href="@Url.Action("Index", "Squad", new { slug =TempData["Slug"]})">here</a>.
            </p>
        </div>
    }

</div>
