@model FormInputModel.SquadEvent

@{
    long eventSquadId = (long)ViewBag.eventSquadId;
    @* string currentDate = DateTime.UtcNow.ToString("yyyy-MM-dd"); *@
    string currentDate = DateTime.Now.ToString("yyyy-MM-ddTHH:mm");
}

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModalCenter">
    Add Event
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" aria-labelledby="exampleModalLongTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Create Squad Event</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" action="/squad/destination">
                    <div class="mb-3">
                        <label for="eventName" class="form-label">Destination name</label>
                        <input asp-for="eventName" name="eventName" type="text" class="form-control" id="eventName"
                               placeholder="Enter Destination Name (Required)" required>
                    </div>
                    <div class="mb-3">
                        <label for="eventDate" class="form-label">Event Date</label>
                        <input asp-for="eventDate" name="eventDate" type="datetime-local" class="form-control" value="@currentDate" id="eventDate">
                    </div>
                    <div class="mb-3">
                        <label for="eventDescription" class="form-label">Event Description (max 255 characters)</label>
                        <textarea asp-for="eventDescription" name="eventDescription" class="form-control" id="eventDescription" rows="4" maxlength="255" placeholder="Enter Event Description"></textarea>
                    </div>
                    <div class="input-group mb-3 align-items-center">
                        <span class="input-group-text">$</span>
                        <input class="form-control" asp-for="eventPrice" name="eventPrice" type="number" class="form-control" id="eventPrice" placeholder="Enter Event Price" min="0">
                        <label class="input-group-text" for="isSplitPrice">Split Price?</label>
                        <input class="form-check-input checkbox-size mt-0" asp-for="isSplitPrice" name="isSplitPrice" type="checkbox" id="isSplitPrice" disabled>
                    </div>
                    <div class="mb-3">
                        <input asp-for="squadId" name="squadId" type="hidden" value="@eventSquadId" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-primary">Create Event</button>
                </form>
            </div>
        </div>
    </div>
</div>