@model FormInputModel.Squad

<form method="post" action="/squad/index">
    <div class="form-group">
        <div class="d-flex flex-row gap-1">
            <input type="text" asp-for="slug" name="slug" class="form-control" placeholder="Search group with group code" />
        <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
</form>